<!-- Contact features -->
<div class="row h-100">
    <!-- Left container -->
    <div class="col-md-4 h-100 pe-0 border-end">
        <!-- Left header -->
        <div class="d-flex justify-content-between align-items-center px-2 py-1 border-bottom">
            <img class="invisible" height="50px" />
            <button (click)="onFindContactOpened()" type="button" class="btn p-3">
                <i class="fa-solid fa-user-plus text-secondary"></i>
            </button>
        </div>
        <div class="list-group overflow-auto">
            <a routerLink="/contactFeatures/contacts"
            routerLinkActive="selected"
            class="list-group-item list-group-item-action py-3">
                <div class="d-flex align-items-center">
                    <i class="fa-regular fa-address-book fa-lg me-3"></i>
                    <div>My contacts</div>
                </div>
            </a>
            <a routerLink="/contactFeatures/receivedContactRequests"
            routerLinkActive="selected"
            class="list-group-item list-group-item-action py-3">
                <div class="d-flex align-items-center">
                    <i class="fa-regular fa-envelope fa-lg me-3"></i>
                    <div>Received contact requests</div>
                </div>
            </a>
            <a routerLink="/contactFeatures/sentContactRequests"
            routerLinkActive="selected"
            class="list-group-item list-group-item-action py-3">
                <div class="d-flex align-items-center">
                    <i class="fa-regular fa-paper-plane fa-lg me-3"></i>
                    <div>Sent contact requests</div>
                </div>
            </a>
        </div>
    </div>
    <!-- Right container -->
    <div class="col-md-8 h-100 px-0 bg-white">
        <router-outlet></router-outlet>
    </div>
</div>