
<div class="d-flex flex-column h-100">
    <div class="d-flex align-items-center border-bottom ms-3 py-2 py-1">
        <i class="fa-regular fa-address-book fa-2x me-3"></i>
        <div class="text-secondary my-auto font-weight-bold h4 py-2">Contacts</div>
    </div>
    <!-- Search bar -->
    <div class="d-flex align-items-center m-2 ">
        <div class="input-group py-2">
            <span class="input-group-text">
                <i class="fas fa-search"></i>
            </span>
            <input type="text" class="form-control" placeholder="Search..." (input)="onSearched($event.target.value)">
        </div>
    </div>
    <!-- Contacts -->
    <div class="border-bottom overflow-auto h-100 w-100 pe-3 flex-grow-1">
        <ng-container *ngFor="let contact of filteredContacts">
            <div class="list-group list-group-flush">
                <div (click)="onClicked(contact)" class="list-group-item list-group-item-action">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle" [src]="getAvatar(contact)" alt=" " width="50" height="50"/>
                            <div class="ms-3 w-100">
                                <div class="my-auto text-truncate font-weight-bold flex-grow-1">{{getContactName(contact)}}</div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end align-items-center">
                            <button (click)="onDeleted($event, contact)" type="button" class="btn btn-white btn-lg">
                                <i class="fa-solid fa-x fa-lg text-danger"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>

