npm install -g @angular/cli@10 --save
npm install @fortawesome/fontawesome-free --save
npm install @ng-bootstrap/ng-bootstrap@8.0.0
npm install @stomp/rx-stomp@^1.2.0 --save
npm install recordrtc@5.6.1
npm install ngx-extended-pdf-viewer@10.0.0 --save