<div class="d-flex justify-content-start py-3" [ngClass]="{'justify-content-end': isSentMessage(), 'justify-content-start': !isSentMessage()}">
    <div class="message-wrapper rounded p-2" [ngClass]="{'bg-success text-light': isSentMessage(), 'bg-light-grey text-secondary': !isSentMessage()}" >
        <div class="d-flex flex-column">
            <div class="d-flex align-items-center mb-2">
                <img class="rounded-circle" [src]="getAvatar()" alt="Avatar" width="40" height="40">
                <div *ngIf="isOwner()" class="ms-2">
                    <i class="fa-solid fa-key"></i>
                </div>
                <small class="ms-2 text-truncate">{{message.sender.name}}</small>
            </div>
            <div>
                <ng-container [ngSwitch]="messageType" >
                    <p *ngSwitchCase="'TEXT'" class="text-break">{{message.content}}</p>
                    <img *ngSwitchCase="'IMAGE'" height="250" class="rounded w-100 py-2" [src]="getInlineData()" alt="image"/>
                    <video *ngSwitchCase="'VIDEO'" height="250" class="rounded py-2 w-100" [src]="getInlineData()" controls></video>
                    <audio *ngSwitchCase="'AUDIO'" controls>
                        <source [src]="getInlineData()" type="audio/mp3">
                        Your browser does not support the audio tag.
                    </audio>
                    <ng-container *ngSwitchDefault>
                        <ng-container [ngSwitch]="messageType">
                            <div class="d-flex align-items-center p-1">
                                <i *ngSwitchCase="'DOCUMENT'" class="fa-solid fa-file-word fa-3x m-2 me-3"></i>
                                <i *ngSwitchCase="'SHEET'" class="fa-solid fa-file-excel fa-3x m-2 me-3"></i>
                                <i *ngSwitchCase="'PRESENTATION'" class="fa-solid fa-file-powerpoint fa-3x m-2 me-3"></i>
                                <i *ngSwitchCase="'PDF'" class="fa-solid fa-file-pdf fa-3x m-2 me-3"></i>
                                <i *ngSwitchCase="'OTHER'" class="fa-solid fa-file fa-3x m-2 me-3"></i>
                                <div class="d-flex flex-column">
                                    <a [href]="getAttachmentData()" download="{{message.fileName}}" class="small" [ngClass]="{'text-light': isSentMessage(), 'text-secondary': !isSentMessage()}">{{message.fileName}}</a>
                                    <ng-container *ngIf="messageType === 'PDF' || messageType === 'OTHER'">
                                        <span (click)="onViewModalOpened()" class="clickable small mt-2">View now</span>
                                    </ng-container>
                                </div>
                            </div>
                            <div #progressbarWrapper *ngIf="message === currentMessage" class="progress d-none" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div #progressbar class="progress-bar bg-info">0%</div>
                            </div>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>
            <div class="d-flex justify-content-end align-items-center">
                <small>{{message.sentAt | date: 'dd/MM/yyyy HH:mm:ss'}}</small>
            </div>
        </div>
    </div>
</div>