<div class="modal-header">
    <h5 class="modal-title">Add contact</h5>
    <button (click)="onClosed()" type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal" ></button>
</div>
<div class="modal-body">
    <div class="mb-5 row">
        <div class="col-9">
            <input #fileInput class="form-control" type="text" placeholder="Type an user id">
        </div>
        <div class="col-3">
            <button (click)="onUserFound(fileInput.value)" class="btn btn-success w-100">Find</button>
        </div>
    </div>
    <ng-container *ngIf="foundUser">
        <div class="mb-2 d-flex justify-content-center">
            <img [src]="getAvatar()" class="rounded-circle border border-secondary"
                    width="100" height="100">
        </div>
        <div class="mb-2">
            <label for="nameInput" class="form-label">Name</label>
            <input id="nameInput" type="text" class="form-control" value="{{foundUser.name}}" disabled>
        </div>
    </ng-container>
    <div class="mb-2">
        <div class="text-danger">{{errorMessage}}</div>
    </div>
</div>
<div class="modal-footer">
    <button (click)="onClosed()" type="button" class="btn btn-secondary">Close</button>
    <button (click)="onSent()" [disabled]="disabled" type="button" class="btn btn-success">Send request</button>
</div>