<div class="d-flex flex-column vh-100">
    <div class="modal-header flex-grow-0">
        <h5 class="modal-title">{{message.fileName}}</h5>
        <button (click)="onClosed()" type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal" ></button>
    </div>
    <div class="modal-body flex-grow-1">
        <ng-container *ngIf="message.fileType === 'OTHER'">
            <p>{{fileContent}}</p>
        </ng-container>
        <ng-container *ngIf="message.fileType === 'PDF'">
            <ngx-extended-pdf-viewer [src]="getData()"></ngx-extended-pdf-viewer>
        </ng-container>
    </div>
    <div class="modal-footer flex-grow-0">
        <button (click)="onClosed()" type="button" class="btn btn-secondary">Close</button>
    </div>
</div>
