<div class="flex-grow-1 text-center d-flex flex-column align-content-center "
        style="padding-top: 5%">
    <i class="fa fa-ghost text-danger" style="font-size: 150px" aria-hidden="true"></i>
    <div class="h2 mt-5 mb-3 text-danger font-weight-bold">Page not found</div> 

    <div class="btn-group mt-5 mx-auto" style="width: 20%">
        <button type="button" class="btn btn-block btn-outline-danger py-3" (click)="goBack()">
            <i class="fa-solid fa-arrow-left me-2"></i>
            Go back</button>
    </div>
</div>