@keyframes soundWave {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.recording {
    cursor: pointer;
    animation: soundWave 1s infinite;
    color: red!important;
    transition: color 0.3s ease-in-out; /* Add a smooth color transition */
}

.recording:hover {
    color: darkred!important; /* Change the color on hover */
}