
<div class="modal-header">
    <h5 class="modal-title">User account</h5>
    <button (click)="onClosed()" type="button" class="btn-close" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="mb-2">
        <label for="old-password" class="form-label">Old password</label>
        <input ngbAutofocus [(ngModel)]="changePasswordRequest.oldPassword" id="old-password" type="password" class="form-control" placeholder="Type your old password" autofocus>
    </div>
    <div class="mb-2">
        <label for="new-password" class="form-label">New password</label>
        <input [(ngModel)]="changePasswordRequest.newPassword" id="new-password" type="password" class="form-control" placeholder="Type your new password">
    </div>
    <div class="mb-2">
        <input [(ngModel)]="changePasswordRequest.confirmNewPassword" type="password" class="form-control" placeholder="Type your new password again">
    </div>
    <div class="mb-2">
        <p class="text-danger">{{errorMessage}}</p>
    </div>
</div>
<div class="modal-footer">
    <button (click)="onClosed()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button (click)="onSaved()" [disabled]="loading" type="button" class="btn btn-success">
        <span *ngIf="loading" class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
        Save
    </button>
</div>
